# Directories
node_modules/
dist/
logs/

# Environment configuration
.env

# Dependency lock files
package-lock.json
yarn.lock

# IDE and editor files
.vscode/
.idea/

# Log files
*.log

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.DS_Store
Thumbs.db

# Test report files
coverage/